[submodule "esn-app-backend"]
	path = esn-app-backend
	url = git@github.com:lomolisso/esn-app-backend.git
[submodule "esn-predictive-node"]
	path = esn-predictive-node
	url = git@github.com:lomolisso/esn-predictive-node
